<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <listener>
    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>
  </listener>
  <listener>
    <listener-class>
	  		org.springframework.web.context.request.RequestContextListener
	  </listener-class>
  </listener>
  <display-name>CodelProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.codel.servlets.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.codel.servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>com.codel.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeuplerServlet</display-name>
    <servlet-name>PeuplerServlet</servlet-name>
    <servlet-class>com.codel.servlets.PeuplerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeuplerServlet</servlet-name>
    <url-pattern>/peupler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmptyContactGroupServlet</display-name>
    <servlet-name>EmptyContactGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.EmptyContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyContactGroupServlet</servlet-name>
    <url-pattern>/emptygroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroupServlet</display-name>
    <servlet-name>DisplayGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.DisplayGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroupServlet</servlet-name>
    <url-pattern>/group</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.codel.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroupServlet</display-name>
    <servlet-name>DeleteGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.DeleteGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupServlet</servlet-name>
    <url-pattern>/deleteGroup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SearchContactServlet</display-name>
    <servlet-name>SearchContactServlet</servlet-name>
    <servlet-class>com.codel.servlets.SearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactServlet</servlet-name>
    <url-pattern>/searchContact</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AddEntrepriseServlet</display-name>
    <servlet-name>AddEntrepriseServlet</servlet-name>
    <servlet-class>com.codel.servlets.AddEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEntrepriseServlet</servlet-name>
    <url-pattern>/addEntreprise</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>UpdateEntrepriseServlet</display-name>
    <servlet-name>UpdateEntrepriseServlet</servlet-name>
    <servlet-class>com.codel.servlets.UpdateEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEntrepriseServlet</servlet-name>
    <url-pattern>/updateEntreprise</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DisplayDetailsContactServlet</display-name>
    <servlet-name>DisplayDetailsContactServlet</servlet-name>
    <servlet-class>com.codel.servlets.DisplayDetailsContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDetailsContactServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>DisplayContactsGroupServlet</display-name>
    <servlet-name>DisplayContactsGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.DisplayContactsGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayContactsGroupServlet</servlet-name>
    <url-pattern>/displayContactGroup</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <display-name>GetContactAddGroupServlet</display-name>
    <servlet-name>GetContactAddGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.GetContactAddGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContactAddGroupServlet</servlet-name>
    <url-pattern>/getContact</url-pattern>
  </servlet-mapping>
  
          <servlet>
    <description></description>
    <display-name>AddContactToGroupServlet</display-name>
    <servlet-name>AddContactToGroupServlet</servlet-name>
    <servlet-class>com.codel.servlets.AddContactToGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactToGroupServlet</servlet-name>
    <url-pattern>/addToGroup</url-pattern>
  </servlet-mapping>
  
</web-app>